form {
text-align: center;

}
h1 {
    text-align: center;
    color: white;
    text-shadow: 3px 3px 5px black;
}
h2 {
    color: black;
    text-shadow: 3px 3px 5px white;
}
body {
    background-color: blueviolet;
}
fieldset {
    border-radius: 10px;
    background-color: cyan;
    text-align:left;
    display: inline-block;
    vertical-align:middle;
}
.dark {
    background: blueviolet;
    color: rgb(96, 30, 157);
}
.light {
    background: blue;
    color: blue;
}